<?xml version="1.0"?>
<!--
/**
 * Gmc_Sales
 *
 * PHP version 8.x
 *
 * @category  XML
 * @package   Gmc\Sales
 * @author    Gmc
 * @copyright 2023 Copyright Gmc
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_success">
        <observer name="Gmc_Sales::orderPlaceAfter" instance="Gmc\Sales\Observer\Order\PlaceAfter" />
    </event>    
</config>
