<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<partner_settings>
			<general>
				<contribution_price_step>1000</contribution_price_step>
			</general>
		</partner_settings>
	</default>
</config>
